<div class="alert alert-primary" role="alert">

</div>
<file-drop  (onFileDrop)="dropped($event)"
           (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)"
            [class.isDragging]="isDragging"
>
    <span>Drop file to instantly extract code</span>
    <!--<span class="drag">-->
        <!--<img src="../../../assets/upload.png" class="upload-img"/>-->
        <!---->
    <!--</span>-->


</file-drop>
<ng-template #placeholder>
    <span>Or you can upload image file to extract code</span>
</ng-template>
<!--<input matRipple id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue"-->
       <!--(onFileSelected)="onFileSelected($event)"/>-->

<mat-spinner *ngIf="uploading" class="spinner"></mat-spinner>


<img class="w-100" id="blah" *ngIf="thumbnail" [src]="thumbnail" alt="thmubnail"/>

