<div class="d-flex wrapper">
    <nz-upload class="flex-fill" nzType="drag" [nzMultiple]="false" [nzLimit]="2" [nzBeforeUpload]="beforeUpload"
        (nzChange)="dropped($event)">
        <p class="ant-upload-drag-icon">
            <i nz-icon nzType="upload" *ngIf="!uploading"></i>
            <nz-spin nzSimple [nzSize]="'large'" *ngIf="uploading"></nz-spin>

        </p>
        <p class="ant-upload-text">Click or drag file to this area to upload image file</p>

    </nz-upload>

    <app-thumbnail class="flex-fill" [thumbnail]="thumbnail" *ngIf="thumbnail" (onClose)="close()"></app-thumbnail>

</div>