        Theme
        <nz-dropdown nzPlacement="right" nzOverlayClassName="theme-chooser" [nzClickHide]="false">
            <button nz-button nz-dropdown><span>{{selectedTheme}}</span> <i nz-icon type="down"></i></button>
            <ul nz-menu nzSelectable>

                <li nz-menu-item class="col-4 p-2 d-inline-block" *ngFor="let theme of themes"
                    (click)="onSelectTheme(theme)">
                    <img src="../../assets/theme/{{theme}}.jpg"/>
                    <div class="text-center">{{theme}}</div>
                </li>
            </ul>
        </nz-dropdown>
