<mat-card class="sticky-header">
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Language" [(ngModel)]="selectedLanguage" (ngModelChange)="onChangeLanguage()">

                <mat-option *ngFor="let language of languages"
                            [value]="language">{{language}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="selectedLanguage === 'auto'">Detected Language: <strong>{{detectedLanguage}}</strong></div>


        <mat-divider class="clearfix"></mat-divider>

        <div></div>
        <div class="alert alert-warning mt-2" role="alert">
            Now, we can copy & paste with formatting in Evernote;
            Please use copy button below
            thank ku @Cuong

        </div>

        <mat-divider class="clearfix"></mat-divider>
        <button (click)="onCopy()" class="float-right" mat-raised-button color="primary">Copy
        </button>
        <pre class="formatted-code">

    <code #formattedCode [innerText]="beautyCode" class="{{detectedLanguage}}"></code>
</pre>


        <pre class="formatted-code d-none">

    <code #formattedCodeCope [innerText]="beautyCodeCopy" class="{{detectedLanguage}}"></code>
</pre>

    </mat-card-content>
</mat-card>
