<nz-card (click)="previewVisible=true">

    <div class="thumbnail-wrapper" *ngIf="thumbnail">

        <nz-badge [nzCount]="iconClose">
            <img  class="w-100" id="blah" [src]="thumbnail" alt="thumbnail"
                 class="thumbnail"/>
        </nz-badge>
        <ng-template #iconClose>

            <i (click)="close()" nz-icon nzType="close-circle"
               class="ant-scroll-number-custom-component delete-thumbnail"
               style="color: #f5222d"></i>
        </ng-template>
    </div>


</nz-card>

<nz-modal
        [nzVisible]="previewVisible"
        [nzContent]="modalContent"
        [nzFooter]="null"
        (nzOnCancel)="previewVisible = false"
>
    <ng-template #modalContent>
        <img [src]="thumbnail" [ngStyle]="{ width: '100%' }"/>
    </ng-template>
</nz-modal>
