 <div class="container">
    <div class="row">
      <div class="col-9">
        <div class="form-group">
          
          <div id="editor-container" style=" height: 375px;">
          </div>
          <!-- <textarea class="form-control" rows="3" id="code"></textarea> -->
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
         
          <!-- <select class="form-control" id="language">
            <option>java</option>
            <option>js</option>
          </select> -->
        </div>
        


      </div>

    </div>
   {{code}}
    <pre>
      <code #formattedCode [innerHTML]="code" >
      
      </code>
    </pre>


  </div>