
<nz-dropdown [nzClickHide]="false" [nzPlacement]="'bottomLeft'">


    <button nz-dropdown nz-button nzType="default"  nzSize="small"><i nz-icon nzType="history"></i>History</button>


    <ul nz-menu class="histories">
        <li nz-menu-item *ngFor="let item of history"
            (click)="selectHistory(item)">
            <a
                    [class.active]="selectedHistoryId == item.id">
                <span matLine class="py-1" style="white-space: normal">{{item.key|slice:0:60}}</span>
            </a>

        </li>

    </ul>
</nz-dropdown>
