<app-toolkit [languages]="languages" [selectedLanguage]="selectedLanguage" (onSelectLanguage)="onSelectLanguage($event)"
    [themes]="themes" [selectedTheme]="selectedTheme" (onSelectTheme)="onSelectTheme($event)" (onMaximize)="maximize()"
    (onCopy)="onCopy()" (onFormat)="format()" (onScreenShot)="screenShot()">
</app-toolkit>

<div class="editor-wrapper" #codeEditor [class.screen-shooting]="isScreenShotting" [class.full-screen]="isFullScreen">
    <button (click)="maximize()" nz-dropdown nz-button nzType="default" nzSize="default" class="mr-1 minimize">
        <i nz-icon [nzType]="isFullScreen?'fullscreen-exit':'fullscreen'"></i>Fullscreen
    </button>
    <nz-spin *ngIf="isScreenShotting" nzSize="large"></nz-spin>

    <nz-code-editor [nzFullControl]="true" (nzEditorInitialized)="onEditorInit($event)" class="editor"
        [(ngModel)]="code" [nzEditorOption]="option"></nz-code-editor>
</div>


<app-image-recognization (onSelectedImage)="onSelectedImage($event)"></app-image-recognization>