:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    .editor {
        display: inline-block;
        width: 100%;

        flex: 1;

        &.full-screen {
            position: fixed !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            z-index: 999 !important;
        }

        &.screen-shooting {
            flex: none;


            ::ng-deep {
                .monaco-editor {
                    height: 10000px !important;

                }

                .view-overlays,
                .ant-code-editor-toolkit,
                .scrollbar,
                .cursors-layer,
                .margin-view-overlays .cldr,
                .decorationsOverviewRuler {
                    display: none;
                }

                // .view-line,
                // .view-lines {
                //     width: auto !important;
                //     height: auto !important;
                //     position: relative !important;
                //     display: block !important;
                // }

                // .view-line {
                //     position: static !important;
                //     top:0 !important;
                // }

                .view-lines {
                    padding: 2em;
                }
            }
        }


    }
}