/* Add application styles & imports to this file! */
@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";
@import "~highlight.js/styles/default.css";

body .hljs {
    background-color: transparent;

}

body {

.sticky-header {
    padding-top: 1em;
    position: sticky;
    top: 0;
    background-color: white;

}


}
