<div class="alert alert-primary" role="alert">
    Or you can upload image file to extract code
</div>
<input matRipple id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue"
       (onFileSelected)="onFileSelected($event)"/>
<mat-spinner *ngIf="uploading" class="spinner"></mat-spinner>

<mat-file-upload-queue #fileUploadQueue class="d-none"
                       [fileAlias]="'file'">

    <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
</mat-file-upload-queue>
<img class="w-100" id="blah" *ngIf="thumbnail" [src]="thumbnail" alt="thmubnail"/>

