#editor-container {
  height: auto;
  border: none;

  ::ng-deep {
    .ql-editor {
      height: 100%;
      overflow: auto;
    }


  }
}

::ng-deep {
  .ant-card-body {
    position: relative;
    height: 100%;

    .action {
      position: absolute;
      top: 0;
      width: auto;
      right: 0;
      z-index: 10;
    }
  }
}
.content{
  height: 100%;
  display: grid;
  grid-template: minmax(100px,1fr) auto / 1fr;
}
