#editor-container {
  height: auto;
  border: none;

  ::ng-deep {
    .ql-editor {
      height: 100%;
      overflow: auto;
    }


  }
}

::ng-deep {
  mat-card-content {
    position: relative;

    app-code-history {
      position: absolute;
      top: 0;
      width: auto;
      right: 0;
      z-index: 10;
    }
  }
}
.content{
  display: grid;
  grid-template: minmax(100px,1fr) auto / 1fr;
}
