#editor-container {
  height: auto;
  border: none;

  ::ng-deep {
    .ql-editor {
      height: auto;
      min-height: 200px;
    }


  }
}

::ng-deep {
  mat-card-content {
    position: relative;

    app-code-history {
      position: absolute;
      top: 0;
      width: auto;
      right: 0;
      z-index: 10;
    }
  }
}
