::ng-deep {
  pre {
    position: relative;

    display: inline-block;
    code {
      position: relative;
      top: -63px;
    }

    .copy-btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
    }

  }

}

.content{
  display: grid;
  grid-template: 50px 10px 1fr / 1fr;
}
