<nz-card class="h-100">
    <div class="h-100 content">
        <form nz-form [nzLayout]="'inline'" #form="ngForm">
            <nz-form-item>
                <nz-form-label>Language</nz-form-label>

                <nz-form-control>
                    <nz-select style="width: 120px;" [(ngModel)]="selectedLanguage" nzPlaceHolder="Choose"
                               name="language">

                        <nz-option *ngFor="let language of languages"
                                   [nzValue]="language" [nzLabel]="language"></nz-option>
                    </nz-select>


                </nz-form-control>
                <div>

                    <nz-form-label *ngIf="selectedLanguage === 'auto' && detectedLanguage">
                        Detected language:
                        <strong>{{detectedLanguage}}</strong></nz-form-label>
                </div>

            </nz-form-item>

            <app-theme-chooser [(selectedTheme)]="selectedTheme"
                               (selectedThemeChange)="applyHighlightCode()"></app-theme-chooser>
        </form>

        <nz-divider nzType="vertical"></nz-divider>

<!--        <mat-divider class="clearfix position-relative"></mat-divider>-->


        <pre class="formatted-code w-100" [attr.data-theme]="selectedTheme"
             *ngFor="let code of [selectedLanguage + selectedTheme]">

<div class="action">
     <button (click)="maximize()" mat-button matTooltip="Maximize window">

<!--                      <mat-icon aria-hidden="false" aria-label="Example home icon">filter_none</mat-icon>-->
        </button>
   <button (click)="onCopy()" mat-button matTooltip="Copy">

<!--                      <mat-icon aria-hidden="false" aria-label="Example home icon">filter_none</mat-icon>-->
        </button>
</div>


            <code #formattedCode [innerText]="beautyCode" class="{{detectedLanguage}} mh-100"></code>
        </pre>


        <pre class="formatted-code d-none" [attr.data-theme]="selectedTheme"
             *ngFor="let code of [selectedLanguage + selectedTheme]">

            <code #formattedCodeCope [innerText]="beautyCodeCopy" class="{{detectedLanguage}}"></code>
        </pre>

    </div>
</nz-card>
