<nz-card class="h-100">
    <div class="h-100 content">
        <form nz-form [nzLayout]="'inline'" #form="ngForm" class="form">
            <nz-form-item class="language-detector">

                <nz-form-control>
                    <nz-form-label>Language</nz-form-label>

                    <nz-select style="width: 120px;" [(ngModel)]="selectedLanguage" nzPlaceHolder="Choose"
                               name="language">

                        <nz-option *ngFor="let language of languages"
                                   [nzValue]="language" [nzLabel]="language"></nz-option>
                    </nz-select>


                </nz-form-control>
                <div>

                    <nz-form-label *ngIf="selectedLanguage === 'auto' && detectedLanguage">
                        Detected language:
                        <strong>{{detectedLanguage}}</strong></nz-form-label>
                </div>


            </nz-form-item>

            <app-theme-chooser [(selectedTheme)]="selectedTheme"
                               (selectedThemeChange)="applyHighlightCode()"></app-theme-chooser>
            <label nz-checkbox [(ngModel)]="wrap" name="wrap">Wrap</label>

        </form>


        <pre class="formatted-code w-100 {{isFullScreen?'full-screen':''}} {{isScreenShotting?'screen-shooting':''}} " [attr.data-theme]="selectedTheme"
             *ngFor="let code of [selectedLanguage + selectedTheme]">

<div class="action">
     <button (click)="screenShot()" nz-dropdown nz-button nzType="link" nzSize="small">
                <i nz-icon nzType="camera"></i>ScreenShot
   </button>
        <nz-divider nzType="vertical" class="m-0"></nz-divider>

   <button (click)="maximize()" nz-dropdown nz-button nzType="link" nzSize="small">
                <i nz-icon [nzType]="isFullScreen?'fullscreen-exit':'fullscreen'"></i>Fullscreen
   </button>
    <nz-divider nzType="vertical" class="m-0"></nz-divider>
    <button (click)="onCopy()" nz-dropdown nz-button nzType="link" nzSize="small">
                <i nz-icon nzType="copy"></i>Copy
            </button>
</div>


            <code #formattedCode [innerText]="beautyCode" class="{{detectedLanguage}} mh-100 "
                  [ngStyle]="{whiteSpace:wrap?'pre-wrap':'inherit'}"></code>
        </pre>


        <pre class="formatted-code d-none" [attr.data-theme]="selectedTheme"
             *ngFor="let code of [selectedLanguage + selectedTheme]">

            <code #formattedCodeCope [innerText]="beautyCodeCopy" class="{{detectedLanguage}}"></code>
        </pre>

    </div>
</nz-card>
