/* Add application styles & imports to this file! */

@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.bubble.css";
@import "~highlight.js/styles/default.css";
body .hljs{
    background-color: transparent;
    font-family: monospace !important;
  font-size: 15px !important;
}

#editor-container {
    height: auto;
    max-height: 500px;
overflow: scroll;
  }
  #editor-container .ql-editor {
height: auto;
min-height: 200px;
  }
  
  @media (max-width: 768px){

      #editor-container{
        max-height:50%;
      }

  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
