
.banner {
  color: white;
  padding-top: calc(1 / 6 * 100%);
  position: relative;
  background-image: url("../assets/background_banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  @media (min-width:1200px){
    padding-top: 120px;

  }

  .content {
    top: 0;
    left: 0;
  }

}

:host{
  display: flex;
  /* display: block; */
  height: 100vh;
  flex-direction: column;
}
.close-history{
  position: absolute;
  right: 0;
  top: 0;
}
