<div class="d-md-none">
    <nz-alert nzType="error" nzMessage="Oop!"
        nzDescription="Phiên bản mobile đang được hoàn thiện.  Mời bạn truy cập bằng phiên bản desktop">
    </nz-alert>

    <br>

</div>
<div class="d-none d-md-flex flex-column h-100 ">
    <div>
        <div class="banner">
            <div
                class="content d-flex justify-content-center align-items-center flex-column position-absolute w-100 h-100">
                <div class="display-4">HighlightCode</div>
                <div class="mat-headline">Beautify and format code</div>
            </div>
        </div>
    </div>


    <div nz-row nzGutter="8" class="p-2 flex-fill overflow-hidden content  h-100 ">
        <!-- <app-code-input nz-col nzSpan="12" (onChange)="onCodeChange($event)" class="h-100"></app-code-input> -->
        <app-code-editor></app-code-editor>
        <app-code-format nz-col nzSpan="12" [code]="code" class="h-100"></app-code-format>
    </div>

</div>