<div class="d-md-none">
    <nz-alert
            nzType="error"

            nzMessage="Oop!"
            nzDescription="Phiên bản mobile đang được hoàn thiện.  Mời bạn truy cập bằng phiên bản desktop"
    >
    </nz-alert>

    <br>

</div>
<div class="d-none d-md-flex flex-column h-100 ">
    <div>
    <div class="banner">
        <div class="content d-flex justify-content-center align-items-center flex-column position-absolute w-100 h-100">
            <div class="display-3">HighlightCode</div>
            <div class="mat-headline">Beautify and format code</div>
        </div>


    </div>
    </div>


    <div class="container-fluid pt-2 flex-fill overflow-hidden ">

        <div class="row content flex-nowrap h-100 " style="overflow: hidden">
            <app-code-input (onChange)="onCodeChange($event)" class="col-6"></app-code-input>


            <app-code-format [code]="code" class="col-6"></app-code-format>


        </div>
    </div>

</div>
