<header>
    <div class="content d-flex justify-content-center align-items-center flex-column position-absolute w-100 h-100">
        <div class="display-3">HighlightCode</div>
        <div class="mat-headline">Beautify and format code from image</div>
    </div>


</header>
<div class="container-fluid pt-2 flex-fill">

    <div class="row content flex-nowrap h-100">

        <mat-sidenav-container class="w-100">
            <mat-sidenav mode="side" [opened]="isOpenHistory">
                <app-code-history (historySelected)="selectHistory($event)"></app-code-history>
                <a mat-button class="close-history">
                    <mat-icon color="primary" (click)="isOpenHistory = false">close</mat-icon>
                </a>
            </mat-sidenav>

            <mat-sidenav-content>
                <a mat-button (click)="isOpenHistory = true" *ngIf="!isOpenHistory">
                    Open history
                </a>
                <div class="row flex-nowrap mx-2">

                    <app-code-input (onChange)="onCodeChange($event)" class="col-6"></app-code-input>

                    <app-code-format [code]="code" class="col-6"></app-code-format>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>


    </div>
</div>
